# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/

# macOS
.DS_Store
*.swp
*~

# Archives
*.xcarchive

# Code Injection
iOSInjectionProject/
default.profraw
